
body {
  /* pievieno fona krasu */
  background-color: #FFFFFF; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}

.header {
  /*izviedo header */
  padding: 35px;
  height: 37px;
  text-align: center;
  background: #EBA271;
  color: white;
}

.nav-a9 {
  /*novieto tur kur vajag bildi*/
  float: top;
  position: absolute;
  top: 27px;
  left: 47px;
}

.nav-a1 {
  /*novieto tur kur vajag tekstu*/
    color: #071108;
    position: absolute;
    font-family: Roboto;
    font-size: 40px;
    line-height: 10px;
    text-align: right;
    top: 57px;
    right: 620px;
  }

.nav-a2{
     /*novieto tur kur vajag tekstu*/
    color: #071108;
    position: absolute;
    font-family: Roboto;
    font-size: 40px;
    line-height: 10px;
    text-align: right;
    top: 57px;
    right: 337px;
  }

.nav-a3 {
   /*novieto tur kur vajag tekstu*/
    color: #071108;
    position: absolute;
    font-family: Roboto;
    font-size: 40px;
    line-height: 10px;
    text-align: right;
    top: 57px;
    right: 101px;
  }  
  
.text1 {
  /* teksta noformēšana un parieza vieta novieto */
    color: #071108;
    font-family: Roboto;
    font-size: 36px;
    line-height: 40px;
    text-align: left;
    position: absolute;
    top:150px;
    right:800px;
    left:38px;
    padding: 12px;
    background-color: #EBD3AA;
  }

.nav-a4 {
  /* teksta noformēšana un parieza vieta novieto */
    color: #071108;
    font-family: Roboto;
    font-size: 26px;
    line-height: 40px;
    text-align: left;
    position: absolute;
    top:150px;
    right:290px;
    left:800px;
    background-color: #EBD3AA;
    padding: 12px;
  }

.nav-a5 {
  /* teksta noformēšana un parieza vieta novieto */
    color: #071108;
    font-family: Roboto;
    font-size: 26px;
    line-height: 40px;
    text-align: left;
    position: absolute;
    top:150px;
    right:30px;
    left:1000px;
    background-color: #EBD3AA;
    padding: 12px;
  }