.table {
  box-shadow: 0 0 10px rgba(66, 135, 245);
  border-collapse: collapse;
  font-family: Roboto;
  overflow: hidden;
  font-weight: bold;
  text-align: center;
  background-color:#EBD3AA;
}
.si{
    color: #071108;
    font-family: Roboto;
    font-size: 26px;
    line-height: 40px;
    text-align: left;
    position: absolute;
    top:230px;
    right:38px;
    left:38px;
    bottom:50px;
    background-color: #EBD3AA;  
}
.table thead th {
  background: #9dff1e;
  color: #271c1c
}

.table td,
.table th {
  padding: 10px 20px;
}

.table tbody tr:nth-of-type(even) {
  background: #befb4b;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #caf04e;
}