.table {
  border-collapse: collapse;
  font-family: Roboto;
  position: absolute;
  font-weight: bold;
  text-align: center;
  background-color:#FFB07B;
  top:247px;
  right:48px;
  left:88px;
  bottom:0px;
}

.fons{
    color: #071108;
    text-align: left;
    position: absolute;
    top:230px;
    right:38px;
    left:38px;
    bottom:20px;
    padding: 12px;
    background-color: #EBD3AA;  
}

.table thead th {
  background: #FCBD93;
  color: #071108
}

.table td,
.table th {
  padding: 10px 20px;
}

.table tbody tr:nth-of-type(even) {
  background: #FCBD93 ;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #FCBD93 ;
}