body {
  background: url("Tutu.jpg"); 
  background-color: #817171; 
  height: 500px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}
.header {
  padding: 35px;
  height: 40px;
  text-align: center;
  background: #EBA271;
  color: white;
}

.nav-a9 {
  float: top;
  position: absolute;
  top: 27px;
  left: 47px;
}
.nav-a1 {
    color: #071108;
    position: absolute;
    font-family: Roboto;
    font-size: 40px;
    line-height: 10px;
    text-align: right;
    top: 57px;
    right: 620px;
  }
  .nav-a2{
    color: #071108;
    position: absolute;
    font-family: Roboto;
    font-size: 40px;
    line-height: 10px;
    text-align: right;
    top: 57px;
    right: 337px;
  }
  .nav-a3 {
    color: #071108;
    position: absolute;
    font-family: Roboto;
    font-size: 40px;
    line-height: 10px;
    text-align: right;
    top: 57px;
    right: 101px;
  }  