body {
  background: url("Tutu.jpg"); 
  background-color: #817171; 
  height: 500px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}

.header {
  padding: 35px;
  height: 37px;
  text-align: center;
  background: #EBA271;
  color: white;
}

.nav-a9 {
  float: top;
  position: absolute;
  top: 27px;
  left: 47px;
}

.nav-a1 {
    color: #071108;
    position: absolute;
    font-family: Roboto;
    font-size: 40px;
    line-height: 10px;
    text-align: right;
    top: 57px;
    right: 620px;
  }

  .nav-a2{
    color: #071108;
    position: absolute;
    font-family: Roboto;
    font-size: 40px;
    line-height: 10px;
    text-align: right;
    top: 57px;
    right: 337px;
  }

  .nav-a3 {
    color: #071108;
    position: absolute;
    font-family: Roboto;
    font-size: 40px;
    line-height: 10px;
    text-align: right;
    top: 57px;
    right: 101px;
  }  

  .text1 {
    color: #071108;
    font-family: Roboto;
    font-size: 85px;
    line-height: 100px;
    text-align: center;
    position: absolute;
    top:349px;
    right:279px;
    left:238px;
    background-color: #FFFFFF;
  }

  .nav-b4 {
    color: #071108;
    font-family: Roboto;
    font-size: 63px;
    line-height: 70px;
    text-align: center;
    position: absolute;
    top:469px;
    right:588px;
    left:588px;
    background-color: #FFFFFF;
  }
